mixin video(info)
    div
        h4=info.title
        ul
            li #{info.rating}/5.
            li #{info.comments}개의 댓글
            li 게시날짜 #{info.createdAt}
            li #{info.views}회

            