extends partials/base.pug
include mixins/video

block content
    video(src=`/${video.fileURL}`, controls) 
    div
        p=video.description
        small=video.createdAt
    div 
        small 작성자 #{owner.name}
    if String(video.owner) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;